<div class="homePage-container">

  <div class="homePage-img">
    <h1 class="homePage-title">Cinema Ironhack</h1>

    {{! <button action="/movies" method="GET" class=""></button> }}
    <div class="form-container">

      <form action="/movies" method="GET">

        <input class="home-btn" type="submit" value="Check the movies!" />
      </form>
    </div>
  </div>
</div>