<div class="text">
  <h1 class="movies-page-title">Ironhack Cinema</h1>
  <p class="movies-page-text">Click on the movie to check the showtimes!</p>
</div>
<div class="movies-grid">

  {{#each movies}}

    <ul class="grid-item"><img class="movie-covers" src="{{this.image}}" /><h3
      >{{title}}</h3>
      <a class="seemore" href="/movies/{{_id}}">See more</a>

    </ul>
  {{/each}}
</div>